.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}
.tablepage{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .inputContainer{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        gap:1rem;
    }
}